In [1]:
# Dependencies and Setup
import pandas as pd

#Load data file
sales_data_to_load = "Resources/DataScienceChallenge.csv"

In [2]:
# Read the Sales Data and store into a Dataframe
sales_df = pd.read_csv(sales_data_to_load)
sales_df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,3/13/17 12:36
1,2,92,925,90,1,cash,3/3/17 17:38
2,3,44,861,144,1,cash,3/14/17 4:23
3,4,18,935,156,1,credit_card,3/26/17 12:43
4,5,18,883,156,1,credit_card,3/1/17 4:35

In [3]:
#Print the number of rows in original data frame
sales_df.shape

(5000, 7)

In [15]:
# Removing outliers, duplicates, incorrect/irrelevant data
sales_cleaned_df = sales_df.drop(sales_df.loc[(sales_df['shop_id'] == 78) | ((sales_df['shop_id'] == 42) & (sales_df['user_id'] == 607))].index)

# Print the number of rows in cleaned dataframe
sales_cleaned_df.shape

(4937, 7)

In [22]:
# Doublecheck that putliers have been removed
print(sales_cleaned_df.loc[(sales_cleaned_df['shop_id'] == 78) | ((sales_cleaned_df['shop_id'] == 42) & (sales_cleaned_df['user_id'] == 607))])

Empty DataFrame
Columns: [order_id, shop_id, user_id, order_amount, total_items, payment_method, created_at]
Index: []

In [23]:
# Calculate new order value
sales_cleaned_df['order_amount'].mean()

302.58051448247926

In [24]:
# Print Average Order Value by Shop ID
AOV_by_shopID = sales_cleaned_df.groupby(["shop_id"]).mean()["order_amount"]
print(AOV_by_shopID)

shop_id
1      308.818182
2      174.327273
3      305.250000
4      258.509804
5      290.311111
          ...
96     330.000000
97     324.000000
98     245.362069
99     339.444444
100    213.675000
Name: order_amount, Length: 99, dtype: float64

In [26]:
# Print Number of Unique User IDs by Shop ID:
users_by_ShopID = sales_cleaned_df.groupby(["shop_id"]).nunique()["user_id"]
print(users_by_ShopID)

shop_id
1      42
2      51
3      48
4      45
5      44
       ..
96     47
97     42
98     53
99     49
100    36
Name: user_id, Length: 99, dtype: int64